
.kf-editor {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;
    z-index: 2;
}

.kf-editor-toolbar {
    width: 100%;
    height: 80px;
    padding: 5px;
    background: -webkit-linear-gradient(top, white, white 60%, rgba(248, 248, 248, 0.72) 80%, rgba(218, 218, 218, 0.72));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.kf-editor-edit-area {
    position: relative;
    top: 0;
    left: 0;

    z-index: 2;
    /*background-color: white;*/
    /*background-size: 21px 21px;*/
    /*background-position: 0 0,10px 10px;*/
    /*background-image: -webkit-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef),-webkit-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef);*/
    /*background-image: linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef),linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef);*/
}

.kf-editor-input-box {
    width: 1000px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}