/* 工具栏 */
.kf-editor-toolbar {
    width: 100%;
    padding: 2px 10px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #f6f5ee;
    border-bottom: 1px solid #ccc;
    -moz-box-shadow:1px 1px 1px rgba( 0, 0, 0, 0.1 );
    -webkit-box-shadow:1px 1px 1px rgba( 0, 0, 0, 0.1 );
    box-shadow:1px 1px 1px rgba( 0, 0, 0, 0.1 );
}

/* 按钮 */
.kf-editor-ui-button {
    padding: 8px 5px;
    height: 79px;
    font-size: 12px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: default;
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
    vertical-align: top;
    opacity: 0.5;
}

.kf-editor-toolbar .kf-editor-ui-overlap-button {
    width: 100%;
    height: 25px;
    background: #53b856;
    border-radius: 0;
}

.kf-editor-ui-button-icon {
    width: 32px;
    height: 32px;
    margin: 2px auto;
}

.kf-editor-ui-button-label {
    text-align: center;
    display: block;
    font-size: 12px;
    line-height: 16px;
    padding: 8px 0;
}

.kf-editor-ui-overlap-button .kf-editor-ui-button-label {
    padding: 5px 0;
    text-align: left;
    color: white;
    font-size: 14px;
}

.kf-editor-ui-button-sign {
    border: 5px solid transparent;
    border-top-color: #2d2d2d;
    width: 0;
    height: 0;
    display: inline-block;
    margin: 6px auto;
    vertical-align: top;
}

.kf-editor-ui-button-mount-point {
    display: none;
    position: absolute;
    bottom: -1px;
    left: -1px;
}

.kf-editor-ui-overlap-button .kf-editor-ui-button-mount-point {
    width: 100%;
    height: 10000px;
}

.kf-editor-ui-wrap-group {
    overflow-x: hidden;
    overflow-y: auto;
}

.kf-editor-ui-overlap-button .kf-editor-ui-button-mount-point {
    top: 27px;
}

.kf-editor-toolbar .kf-editor-ui-button-in {
    border-color: #83d286;
    background: #e6fae7;
}

.kf-editor-toolbar .kf-editor-ui-overlap-button {
    padding-top: 0;
    padding-bottom: 0;
    border-color: #53b856;
    background: #53b856;
}

/* 分割符 */
.kf-editor-ui-delimiter {
    width: 11px;
    height: 100%;
    display: none;
}

.kf-editor-ui-enabled.kf-editor-ui-button:HOVER {
    border: 1px solid #83d286;
    background: #e6fae7;
}

.kf-editor-ui-enabled.kf-editor-ui-overlap-button:HOVER {
    border: 1px solid #53b856;
    background: #53b856;
}

.kf-editor-ui-delimiter-line {
    width: 1px;
    height: 100%;
    margin: 0 auto;
    background: -webkit-linear-gradient(top, rgba(233, 233, 233, 0.11), rgba(92, 92, 92, 0.20) 60%, rgba(92, 92, 92, 0.41) 80%, rgba(123, 123, 123, 0.50));
}

/* box */
.kf-editor-ui-box {
    border: 1px solid #aba7a6;
    border-radius: 3px;
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.11);
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.kf-editor-ui-box-container {
    font-size: 14px;
}

.kf-editor-ui-box-group-title {
    background-color: #f7f6f0;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
    padding-left: 5px;
}

.kf-editor-ui-box-group-item-container {
    padding: 2px 9px;
}

.kf-editor-ui-overlap-container {
    overflow: hidden;
}

.kf-editor-ui-yushe-btn .kf-editor-ui-box-item {
    border: 1px solid transparent;
    padding: 5px;
}

.kf-editor-ui-box-item {
    display: inline-block;
    margin: 4px;
}

.kf-editor-ui-box-item-content:HOVER {
    border-color: #53b856;
}

.kf-editor-ui-area .kf-editor-ui-box-item {
    position: relative;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border: 0;
    margin: 3px;
    padding: 0;
    z-index: 1;
}

.kf-editor-ui-area .kf-editor-ui-box-item img {
    width: 32px;
    height: 32px;
}


.kf-editor-ui-box-item-label {
    margin-bottom: 5px;
}

.kf-editor-ui-box-item-content {
    background: white;
    border: 1px solid #808080;
}

.kf-editor-ui-area .kf-editor-ui-box-item-content {
    position: absolute;
    top: 0;
    left: 0;
}

.kf-editor-ui-area .kf-editor-ui-box-item-content:HOVER {
    border: 2px solid #53b856;
    top: -1px;
    left: -1px;
}

.kf-editor-ui-box-item-val {
    padding: 5px;
    margin-bottom: 5px;
    line-height: 0;
}

.kf-editor-ui-area .kf-editor-ui-box-item-val {
    padding: 0;
    margin: 0;
}

/* area */
.kf-editor-ui-area {
    height: 79px;
    display: inline-block;
    cursor: default;
    position: relative;
    top: 0;
    left: 0;
    vertical-align: top;
    opacity: 0.5;
    z-index: 4;
    border: 1px solid #e0dfd5;
    border-radius: 4px;
    background: white;
    margin: 8px 10px;
}

.kf-editor-ui-area-container {
    width: 281px;
    height: 64px;
    margin: 7px 9px 6px 9px;
    display: inline-block;
    border-right: 0;
    vertical-align: top;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.kf-editor-ui-area-panel {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0;
    background: white;
    -webkit-transition: top 0.5s linear;
    -moz-transition: top 0.5s linear;
    transition: top 0.5s linear;
}

.kf-editor-ui-area-button-container {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    text-align: center;
    border: 0 solid #D3D3D3;
    border-left-width: 1px;
    background-color: #f2f0e6;
}

.kf-editor-ui-moveup-button, .kf-editor-ui-movedown-button {
    line-height: 25px;
    height: 25px;
}

.kf-editor-ui-movedown-button {
    border: 1px solid #D3D3D3;
    border-width: 1px 0;
}

.kf-editor-ui-area-button {
    height: 50px;
    line-height: 26px;
    display: inline-block;
}

.kf-editor-ui-enabled .kf-editor-ui-area-button:HOVER {
    background-color: #bae6bc;
    /*background: rgba(255, 207, 15, 0.5);*/
}

.kf-editor-ui-disabled {
    opacity: 0.25;
}

.kf-editor-ui-area-mount {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.kf-editor-ui-overlap-title {
    width: 100%;
    line-height: 1.5;
}

/* list */
.kf-editor-ui-list {
    background: white;
    padding: 5px;
    border: 1px solid #a6a2a1;
    position: fixed;
    top: 0;
    left: 0;
}

.kf-editor-ui-list-bg {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 34px;
    background: rgba(238, 238, 238, 0.84);
    box-shadow: 0px 0 1px 1px rgba(224, 224, 224, 0.16);
    z-index: 1;
}

.kf-editor-ui-list-item-container {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}

.kf-editor-ui-list-item {
    line-height: 16px;
    padding: 2px 10px;
    border: 1px solid transparent;
}

.kf-editor-ui-list-item:HOVER {
    border-color: #83d286;
    background-color: #a6fae7;
}

.kf-editor-ui-list-item-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    visibility: hidden;
}

/* area 内容区 */
.kf-editor-ui-area-item {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
}

.kf-editor-ui-enabled .kf-editor-ui-area-item:HOVER {
    border-color: #53b856;
}

.kf-editor-ui-area-item-content {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #808080;
}

.kf-editor-ui-area-item-content img {
    width: 24px;
    height: 24px;
}

.kf-editor-ui-enabled {
    opacity: 1;
}

.kf-editor-ui-overlap-container .kf-editor-ui-box-item {
    width: 34px;
    height: 34px;
}

.kf-editor-ui-overlap-container .kf-editor-ui-box-item-content:HOVER {
    border-width: 1px;
    top: 0;
    left: 0;
}

.kf-editor-ui-overlap-container .kf-editor-ui-box-item-val {
    width: 32px;
    height: 32px;
}